.container {
 max-width: 960px;
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}

.movieTitle{
 margin-bottom: 2rem;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 500;
 line-height: 1.2;
 color: inherit;
 margin-top: 70px;
}

.form-group {
 margin-bottom: 1rem;
}

label {
 display: inline-block;
 margin-bottom: 1rem;
}

.btn{
 margin-top: 20px;
}

.save{
 color: white;
}